.mein-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
}

.mein-content {
  padding: 100px 90px;
}
